* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: 500;
  color: #555;
  background-color: rgb(249, 248, 252);

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:inherit;
}

h1 {
  color: rgb(33, 104, 104);
}
h2 {
  color:rgb(6, 83, 156);
}
h3 {
  color: rgb(35, 116, 163);
}

.container {
  max-width: 1068px;
  margin: 0 auto;
  padding: 0.7rem;
}


a {
  text-decoration: none;
  color: royalblue;
}

li {
  margin: 0.8rem;
  margin-left: 2rem;
  list-style-type: circle;
}
button {
  padding: 0.6rem;
  margin: 0 1rem;
  font-size: inherit;
}

select {
  padding: 0.5rem 0.6rem;
}