
.cart-item-container {
    background: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    max-width: 500px;
    min-width: 280px;
}

.cart-image-container {
    height:100px;
    max-width: 150px;
    flex:1;
}

.cart-body {
    flex:2;
    padding: 0.6rem;
    margin-left: 2.4rem;
    @media screen and (max-width:512px) {
        font-size: 1.2rem;
        margin-left: 1.6rem;
    }
    @media screen and (max-width:380px) {
        font-size: 1.2rem;
        margin-left: 0.2rem;
    }
}

.cart-controls {
    flex:1;
    text-align: center;
}

.cart-controls-top {
    white-space: nowrap;
}

.cart-controls-bottom {
    margin-top: 0.5rem;
}

.cart-image {
    height:100%;
    width: 100%;
    object-fit: cover;
}

.cart-count {
    font-size: 1.6rem;
}

.cart-stock {
    color: #818181;
    // font-weight: bold;
    font-size: 1.2rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.cart-description {
    color:#3179cc;
    font-size:1.4rem;

    @media screen and (max-width:350px) {
        font-size:1.2rem;
    }
}

.cart-size {
    // font-size: 1.6rem;
    margin-top:0.4rem;
    font-weight: bold;

}

.cart-price {
    // font-size: 1.4rem;
    margin-top:0.4rem;
}

.cart-qty {
    display: inline-block;
    padding: 0 1.6rem;
    font-size: 2.5rem;
    color: #333;
    font-weight: 500;
}

.line {
    border-bottom: 1px solid teal;
}


.cart-remove-button {
    border: none;
    background:none;
    box-shadow: none;
    color: #990707;


    &:hover {
        border: none;
        background:none;
        box-shadow: none;
        color: #d81010;
    }
}
