.component {
    margin: 3rem 0;
    // border-top: 1px solid rgb(228, 225, 225);
    // border-bottom: 1px solid rgb(228, 225, 225);
    padding: 1.2rem;
    background: #fafafa;
    background: #f0f3f7;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #ccc;
    display: inline-block;
    width: 300px;
    height: 250px;
    vertical-align: top;
    margin-right: 1.5rem;
}

.component-heading {
    margin: 3rem 0;
    // border-top: 1px solid rgb(194, 215, 223);
    // border-bottom: 1px solid rgb(194, 215, 223);
    padding: 0.8rem 0;
}